<h1>Create a Bouquet!</h1>
<form action="/bouquets" method="POST">

  <h3>Name Your Bouquet: <input type="text" name="name"></h3>
    <br>
  <h3>Occassion: <input type="text" name="occassion"></h3>
    <br>
  <h3>Accessories: <input type="text" name="accessories"></h3>
    <br>
  <h3>Type of Flower: <input type="text" name="flower_name"></h3>
    <br>
  <h3> Number of Flowers: <input type="text" name="flower_quantity">
    <br>



<input type="submit" value="Submit">

</form>
