<h2>Your Collection</h2>

<h2>Pick your Bouquet</h2>

<% Bouquet.all.each do |bouquet| %>
<a href="/bouquets/<%=bouquet.slug%>"> <%= bouquet.name %></a> <br>
<%end%>

<form action="bouquets/new" method="POST">
 this should have a list of user's bouquets, if they don't have them, give message
<input type="submit" value="Create New Bouquet!">
</form>
