<!-- <h1>!</h1>
<form action="/new" method="POST">
<label>Flowers</label>
<br>
<ul>
  <li>Rose</li><input type="number">
  <li>Tulip</li><input type="number">
  <li>Daisy</li><input type="number">
  <li>Baby's Breath</li><input type="number">
  <li>Lily</li><input type="number">
</ul>
</form> -->
