<!doctype html>
<html>
  <head>
    <title>Kat's Flower Shop</title>
    </head>
<%=yield%>
    <body>
      <div class="container">
        <h3>Welcome to Kat's Flower Shop!</h3>
        <a href="/logout"><input type="submit" value="Log Out"></input>
        <a href="/signup"><input type="submit" value="Sign Up"></input>
        <a href="/login"><input type="submit" value="Log In"></input>

      </div>
    </body>
</html>
