<form action="/login" method="post">

<h1>Welcome Back!</h1>
<br>
<h3>Log In</h3>
<label>Username: </label><input type="text" name="username">
<br>
<label>Password: </label><input type="password" name="password">
<br>
<input type="submit" value="Login">

</form>
